.slider-container {
    overflow: hidden;

    .slider {
        display  : flex;
        animation: slide 50s infinite;

        img {
            width : 100%;
            height: auto;
        }
    }
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }

    33.33% {
        transform: translateX(-100%);
    }

    66.66% {
        transform: translateX(-200%);
    }

    100% {
        transform: translateX(0);
    }
}
